Fabric==1.10.2
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
beautifulsoup4==4.3.2
ecdsa==0.13
itsdangerous==0.24
paramiko==1.15.2
pycrypto==2.6.1
requests==2.7.0
wsgiref==0.1.2
gunicorn==19.3.0
boto==2.38.0
nltk==3.0.2
selenium==2.46.1
pillow==3.2.0
